<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeVenture</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="icon" href="/image/common/logo.png">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/member/loginFirstProj.css}">
</head>
<body>
<form action="/joinNewTask" method="post" id="projectSetupForm">
<div th:replace="~{common/header :: header}"></div>
<input type="hidden" name="memberId" th:value="${email}"/>
<input type="hidden" name="auth" th:value="${auth}"/>
<div class="project_setup-container">
    <div class="project_setup-form">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
        <h2>첫 번째 프로젝트를 설정하겠습니다</h2>
        <p>회원님과 팀이 현재 수행하는 업무는 무엇인가요?</p>
            <input class="project_setup-input" type="text" placeholder="프로젝트명을 입력해주세요." name="pName" required>
            <span>생성할 프로젝트의 시그니처 색상을 선택해주세요!  </span><input type="color" name="pColor">
            <textarea class="project-setup-explain" placeholder="프로젝트를 간단하게 소개해주세요." name="pExplain" required></textarea>
            <button class="project_setup-continue-button" type="submit">계속</button>
    </div>
</div>
</form>
</body>
</html>
