<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="icon" href="/image/common/logo.png">
    <link rel="stylesheet" href="/css/project/index.css">
    <title>TimeVenture</title>
</head>
<body>

<header>
    <div class="index-logo">
        <img src="/image/common/logo.png" alt="TimeVenture">
        <a class="index-logo-text" href="/static">TimeVenture</a>
    </div>
</header>

<main>
    <h2 class="index-main-text">보다 더 스마트하게 일하는 법</h2>
    <p class="index-main-text2">TimeVenture를 사용하여 업무와 시간을 효율적으로 관리하여<br>더 나은 성과를 이뤄 보세요.</p>
    <button class="index-start-button" onclick="redirectToLoginPage()">시작하기</button>

    <script>
        function redirectToLoginPage() {
            // 페이지 이동을 처리하는 JavaScript 코드
            window.location.href = "/login";
        }
    </script>

</main>

<footer>
    <div class="index_footer_line"></div>
    <div class="index_footer_content">
        <div class="index_footer_company">
            <div class="index_footer_center">
                <div class="company"><p>회사소개</p></div>
                <div class="terms_use"><p>이용약관</p></div>
                <div class="personal_information"><p>개인정보 처리방침</p></div>
                <div class="TimeVenture"><p>©TimeVenture</p></div>
            </div>

            <div class="index_footer_company_information">
                <p>주소: </p>
                <p>서울특별시 강남구 에스코빌딩 601호 </p>
            </div>
            <div class="index_footer_icon">
                <div class="github">
                    <a href="https://github.com/Mongdori00/TimeVenture" target="_blank">
                        <img src="/image/common/github.png" alt="github">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>